/* Variables */

:root {
  --text: #181719;
  --background: #fff0f0;
  --black-chocolate: #1d1e18;
}

/* globales */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
  line-height: 1.5;
}

[class$="__container"] {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  [class$="__container"] {
    width: 80%;
  }
}

[class$="title"] {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 3rem;
}

img {
  width: 100%;
}

/* Estilos navegacion */
.menu__container {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__logo {
  display: block;
  color: var(--text);
  text-decoration: none;
  font-size: 2rem;
  font-family: "Crimson Pro", serif;
  font-weight: 200;
  padding: 0 2rem;
  border: 1px solid var(--text);
  text-transform: uppercase;
}

.menu__items {
  display: flex;
  list-style: none;
  margin-right: 3rem;
}

.menu__items li {
  margin: 0 2rem;
}

.menu__items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text);
  display: block;
}

.menu__items li a:hover {
  text-decoration: underline;
  transition: 0.4s;
}

.btn_menu {
  margin-right: 3rem;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.btn_menu i {
  color: var(--text);
}

ul.show {
  top: 65px;
}

@media (max-width: 992px) {
  .menu__logo {
    font-size: 1.6rem;
  }

  .menu__items li a {
    font-size: 1.4rem;
  }
}

@media (max-width: 858px) {
  .menu__container {
    height: 65px;
  }

  .btn_menu {
    display: inline-flex;
  }

  .menu__items {
    position: fixed;
    width: 90%;
    margin: 0 auto;
    height: calc(100% - 65px);
    background-color: var(--background);
    top: -100vh;
    text-align: justify;
    transition: all 0.4s;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .menu__items li {
    margin: 6rem 0 0 0;
    line-height: 30px;
  }

  .menu__items li a {
    font-size: 2rem;
    font-weight: 700;
  }

  .menu__items li a:hover {
    text-decoration: none;
  }
  .menu__logo {
    font-size: 1.4rem;
  }
}

@media (max-width: 858px) and (orientation: landscape) {
  .menu__items li {
    margin: 1.6rem 0 0 0;
  }

  .menu__items {
    overflow: scroll;
    height: calc(100% - 65px);
  }
}
/* Estilos header */

.header__container {
  margin-top: 2rem;
}

@media (min-width: 992px) {
  .header__hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
  }

  .header__info {
    width: 60%;
  }
}

.header__title {
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .header__title {
    font-size: 6rem;
  }
}

.header__description {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: justify;
  padding-right: 5rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .header__description {
    font-size: 1.8rem;
  }
}

.header__link {
  display: block;
  font-size: 1.6rem;
  color: var(--text);
  text-decoration: none;
}

@media (min-width: 992px) {
  .header__link {
    font-size: 1.8rem;
  }
}

.header__link i {
  margin-left: 0.8rem;
  vertical-align: middle;
  font-size: 1.6rem;
}

.header__image {
  margin-top: 2rem;
}

.header__image img {
  width: 100%;
  height: 22rem;
  object-fit: contain;
}

@media (min-width: 768px) {
  .header__image img {
    height: 40rem;
  }
}

/* Estilos footer */
.footer__container {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__none {
  position: static;
}

.footer__section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__text {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .footer__text {
    font-size: 2rem;
  }
}

.footer__text i {
  color: red;
}

.social__media {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .social__media {
    justify-content: space-around;
  }
}

.social__media i {
  font-size: 1.6rem;
  color: var(--text);
}

@media (min-width: 768px) {
  .social__media i {
    font-size: 2rem;
  }
}

/* Estilos acerca de */

.about-head__container {
  text-align: center;
}

@media (min-width: 992px) {
  .about-head__container {
    margin-top: 4rem;
  }
}

.about-head__image {
  width: 10rem;
}

@media (min-width: 992px) {
  .about-head__image {
    width: 20rem;
  }
}

.about-head__title {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .about-head__title {
    font-size: 4rem;
  }
}

.about-head__text {
  font-size: 1.6rem;
  color: var(--black-chocolate);
  margin-bottom: 6rem;
}

@media (min-width: 992px) {
  .about-head__text {
    font-size: 3rem;
    margin-bottom: 8rem;
  }
}

.about__container {
  text-align: center;
}

@media (min-width: 992px) {
  .about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    margin-bottom: 10rem;
  }
}

.about__title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.about__text {
  font-size: 1.6rem;
  color: var(--black-chocolate);
  text-align: justify;
  width: 90%;
  margin: 0 auto 2rem auto;
}

.about__btn {
  display: block;
  width: 50%;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--black-chocolate);
  margin: 0 auto 2rem auto;
  border: 1px solid var(--black-chocolate);
  padding: 1rem 0;
}

.about__image img {
  width: 90%;
  margin-bottom: 6rem;
}

.about-services__container {
  margin-bottom: 6rem;
}

@media (min-width: 768px) {
  .about-services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .about-services__container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.about-services__title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .about-services__title {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}

.about-services__product {
  width: 90%;
  margin: 0 auto;
}

.about-services__image {
  display: block;
  width: 20rem;
  height: 25rem;
  margin: 0 auto 1rem auto;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .about-services__image {
    width: 25rem;
    height: 30rem;
  }
}

@media (min-width: 992px) {
  .about-services__image {
    width: 35rem;
    height: 40rem;
  }

  .about-services__image:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.about-services__text {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: var(--black-chocolate);
  font-weight: 500;
}

@media (min-width: 992px) {
  .about-services__text {
    font-size: 2rem;
  }
}

/* Estilos galería */

.gallery__title {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .gallery__title {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}

.gallery__text {
  font-size: 1.6rem;
  text-align: center;
  color: var(--black-chocolate);
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .gallery__text {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
}

.gallery__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
}

@media (min-width: 992px) {
  .gallery__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
  }
}

.gallery__image {
  object-fit: cover;
  height: 20rem;
}

@media (min-width: 768px) {
  .gallery__image {
    height: 30rem;
    transition: transform 0s;
  }
}

@media (min-width: 992px) {
  .gallery__image:hover {
    cursor: pointer;
    transform: rotate(5deg) scale(1.1);
  }
}

.gallery__image:nth-child(2) {
  grid-column: 1/3;
  grid-row: 2/3;
}

@media (min-width: 992px) {
  .gallery__image:nth-child(2) {
    grid-column: unset;
    grid-row: unset;
  }
}

.gallery__image:nth-child(4) {
  grid-column: 1/3;
}

.gallery__image:nth-child(9) {
  grid-column: 1/3;
}

@media (min-width: 992px) {
  .gallery__image:nth-child(4),
  .gallery__image:nth-child(9) {
    grid-column: unset;
  }
}

/* Contacto */

@media (min-width: 992px) {
  .contact__container {
    height: 82vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
  }
}

.form {
  background-color: #fff;
  width: 90%;
  max-width: 40rem;
  border: 1px solid black;
  border-radius: 8px;
  margin: 2rem auto;
}

.form__content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-auto-columns: 100%;
  padding: 10rem 2rem;
}

.form__title {
  font-size: 1.6rem;
  text-align: center;
}

@media (min-width: 992px) {
  .form__title {
    font-size: 2.6rem;
  }
}

.form__input {
  font-family: inherit;
  font-size: 1.4rem;
  padding: 0.8em 1em;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 4px;
}

.form__input--message {
  margin-bottom: 1rem;
  padding: 1rem 0 5rem 1rem;
}

.form__cta {
  font-family: inherit;
  font-size: 1.4rem;
  background-color: var(--black-chocolate);
  color: #fff;
  border: none;
  font-weight: 400;
  padding: 1rem 0;
  border-radius: 4px;
  cursor: pointer;
}

.map__title {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .map__title {
    font-size: 3rem;
  }
}

.map__text {
  font-size: 1.6rem;
  text-align: center;
  color: var(--black-chocolate);
  margin-bottom: 2rem;
}

iframe {
  width: 100%;
}

/* Whatsapp */

.btn-wsp {
  display: none;
}

@media (min-width: 992px) {
  .btn-wsp {
    display: block;
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
  }
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background-color: #fff;
}
